.index-state
{
	.article
	{
		#title-subtitle-container{
			
		}

		#date{
			position: absolute;
			right: 15px;
			color: #81A8B8;
		}

		#title{

		}

		#subtitle{
			color: $color5;

		}

		#body{
		
		}

		#cta{
			color: $color6;
			border: 1px solid;
			padding: 5px;
			float: right;
			cursor: pointer;
		}

		#cta:hover{
			color: $color7;
			background-color: rgba(255,255,255,0.8);
			text-decoration: none;
		}
	}
}
